[submodule "api/app"]
	path = api/app
	url = git@github.com:kuzrwkd/skys-api.git
[submodule "scraper/app"]
	path = scraper/app
	url = git@github.com:kuzrwkd/skys-scraper.git
[submodule "client/app"]
	path = client/app
	url = git@github.com:kuzrwkd/skys-client.git
