[submodule "client/app"]
	path = client/app
	url = git@github.com:kuzrwkd/skys-client.git
[submodule "search/app"]
	path = search/app
	url = git@github.com:kuzrwkd/skys-search.git
[submodule "client-api/app"]
	path = client-api/app
	url = git@github.com:kuzrwkd/skys-client-api.git
[submodule "back-office/app"]
	path = back-office/app
	url = git@github.com:kuzrwkd/skys-back-office.git
[submodule "front-office/app"]
	path = front-office/app
	url = git@github.com:kuzrwkd/skys-front-office.git
[submodule "auth/app"]
	path = auth/app
	url = git@github.com:kuzrwkd/skys-auth.git
[submodule "scraper/app"]
	path = scraper/app
	url = git@github.com:kuzrwkd/skys-scraper.git
[submodule "back-office-api/app"]
	path = back-office-api/app
	url = git@github.com:kuzrwkd/skys-back-office-api.git
[submodule "front-office-api/app"]
	path = front-office-api/app
	url = git@github.com:kuzrwkd/skys-front-office-api.git
[submodule "analyze/app"]
	path = analyze/app
	url = git@github.com:kuzrwkd/skys-analyze.git
[submodule "recommend/app"]
	path = recommend/app
	url = git@github.com:kuzrwkd/skys-recommend.git
