[submodule "scraper/app"]
	path = scraper/app
	url = git@github.com:kuzrwkd/skys-scraper.git
[submodule "client/app"]
	path = client/app
	url = git@github.com:kuzrwkd/skys-client.git
[submodule "search/app"]
	path = search/app
	url = git@github.com:kuzrwkd/skys-search.git
[submodule "client-api/app"]
	path = client-api/app
	url = git@github.com:kuzrwkd/skys-client-api.git
[submodule "back-office/app"]
	path = back-office/app
	url = git@github.com:kuzrwkd/skys-back-office.git
[submodule "front-office/app"]
	path = front-office/app
	url = git@github.com:kuzrwkd/skys-front-office.git
